@using Portfolio.Web.Models
@model HomeViewModel
<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"]</title>
	<link rel="shortcut icon" href="~/site/images/favicon.png" type="image/x-icon">

<partial name="_styles" />

</head>
<body class="home-one">
	@RenderBody()
	<div class="page-wrapper">
		<div class="preloader"></div>
		@await Component.InvokeAsync("Header")
		<section class="hidden-bar" id="section_message">
			<div class="inner-box text-center">
				<div class="cross-icon"><span class="fa fa-times"></span></div>
				<div class="title">
					<h4>درخواست همکاری</h4>
				</div>
				<div class="appointment-form">
					<form method="post" action="contact.html">
						<div class="form-group">
							<input type="text" name="text" value="" placeholder="نام شما" required>
						</div>
						<div class="form-group">
							<input type="email" name="email" value="" placeholder="آدرس ایمیل" required>
						</div>
						<div class="form-group">
							<textarea placeholder="متن پیام" rows="5"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="theme-btn">ارسال درخواست</button>
						</div>
					</form>
				</div>
				<div class="social-style-one">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-pinterest-p"></i></a>
				</div>
			</div>
		</section>
		<div class="form-back-drop"></div>
		<section class="nav-bar" id="section_nav">
			<div class="inner-box">
				<div class="cross-icon"><span class="fa fa-times"></span></div>

				<nav class="main-menu">

					<ul class="navigation navbar-collapse clearfix collapse show">

						<li class="dropdown">
							<a href="#">اصلی</a>
							<ul>
								<li><a href="index.html">چند صفحه ای</a></li>
								<li><a href="indexonepage.html">تک صفحه</a></li>
							</ul>
							<div class="dropdown-btn"><span class="fas fa-chevron-down"></span></div>
						</li>

						<li><a href="about.html">درباره من</a></li>

						<li><a href="services.html">خدمات</a></li>

						<li class="dropdown">
							<a href="#">نمونه کارها</a>
							<ul>
								<li><a href="projects.html">نمایش گرید</a></li>
								<li><a href="projects-masonry.html">نمایش شبکه ای</a></li>
								<li><a href="project-details.html">جزئیات نمونه کار</a></li>
							</ul>
							<div class="dropdown-btn"><span class="fas fa-chevron-down"></span></div>
						</li>
						<li class="dropdown">
							<a href="#">بلاگ</a>
							<ul>
								<li><a href="blog.html">لیست پست ها</a></li>
								<li><a href="blog-details.html">جزئیات پست</a></li>
							</ul>
							<div class="dropdown-btn"><span class="fas fa-chevron-down"></span></div>
						</li>
						<li class="dropdown">
							<a href="#">سایر</a>
							<ul>
								<li><a href="404.html">صفحه ارور</a></li>
							</ul>
							<div class="dropdown-btn"><span class="fas fa-chevron-down"></span></div>
						</li>

						<li><a href="contact.html">تماس با من</a></li>

					</ul>

				</nav>

			</div>
		</section>
		<div class="nav-back-drop"></div>
		<section id="home" class="main-hero-area pt-150 pb-30 rel z-1">
			<div class="container container-1620">
				<div class="row align-items-center">
					<div class="col-lg-4 col-sm-7">
						<div class="hero-content rmb-55 wow fadeInUp delay-0-2s">
							<span class="h2">سلام، من </span>

							<h2 class="highlight">
								<span>@Model.Summary.FullName</span>
								<br>یک
								<tspan class="element" data-elements="@Model.Summary.PersonalInfo.JobTitle"></tspan>
							</h2>

							<p>
								@Model.Summary.PersonalInfo.Description
							</p>
							<div class="hero-btns">
								<a href="contact.html" class="theme-btn">
									درخواست همکاری
									<i class="far fa-angle-left"></i>
								</a>
								<a href="contact.html" class="read-more">دانلود رزومه <i class="far fa-angle-left"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-5 order-lg-3">
						<div class="hero-counter-wrap ms-lg-auto rmb-55 wow fadeInUp delay-0-4s">
							<div class="counter-item counter-text-wrap">
								<span class="count-text plus" data-speed="3000" data-stop="@Model.Summary.PersonalInfo.YearsOfExperience">0</span>
								<span class="counter-title">سال تجربه</span>
							</div>
							<div class="counter-item counter-text-wrap">
								<span class="count-text k-plus" data-speed="3000" data-stop="@Model.Summary.PersonalInfo.SuccessfulProjects">0</span>
								<span class="counter-title">پروژه موفق</span>
							</div>
							<div class="counter-item counter-text-wrap">
								<span class="count-text percent" data-speed="3000" data-stop="@Model.Summary.PersonalInfo.CustomerSatisfaction">0</span>
								<span class="counter-title">رضایت مشتریان</span>
							</div>
						</div>
					</div>
					<div class="col-lg-5 mobile-hidden">
						<div class="author-image-part wow fadeIn delay-0-3s">
							<div class="bg-circle"></div>
@* 							<img src="@Model.Summary.PersonalInfo.ProfileImagePath" alt="Author"> *@
							<img src="~/image/me/me.jpg" alt="Author" />
							<div class="progress-shape">
								<img src="~/site/images/hero/progress-shape.png" alt="Progress">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		@await Component.InvokeAsync("Footer");
		<div class="nox-mouse nox-mouse-outer"></div>
		<div class="nox-mouse nox-mouse-inner"></div>

	</div>

<partial name="_Scripts"/>
@RenderSection("scripts", false)
</body>
</html>
<script>
	const token = localStorage.getItem("token");

	if (token) {
		fetch("/", {
			method: "GET",
			headers: {
				"Authorization": `Bearer ${token}`
			}
		})
		.then(response => response.text())
		.then(data => console.log(data))
		.catch(error => console.error("Error:", error));
	}
</script>
